[submodule "content/_external/elasticsearch-tools"]
	path = content/_external/elasticsearch-tools
	url = https://github.com/rivassec/elasticsearch-tools
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins
