{% if not PLUGINS or 'seo' not in PLUGINS or 'pelican.plugins.seo' not in PLUGINS%}
  {% if 'og_image' in article.metadata %}
    {% set article_image = SITEURL ~ '/' ~ article.metadata['og_image'] %}
  {% elif 'cover' in article.metadata %}
    {% set article_image = SITEURL ~ '/' ~ article.metadata['cover'] %}
  {% elif OG_IMAGE %}
    {% set article_image = SITEURL ~ '/' ~ OG_IMAGE %}
  {% elif SITELOGO %}
    {% set article_image = SITEURL ~ '/' ~ SITELOGO %}
  {% else %}
    {% set article_image = SITEURL ~ '/' ~ THEME_STATIC_DIR ~ '/img/profile.png' %}
  {% endif %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "name": "{{ article.title|striptags }}",
    "headline": "{{ article.title|striptags }}",
    "datePublished": "{{ article.date.isoformat() }}",
    "dateModified": "{{ (article.modified or article.date).isoformat() }}",
    "author": {
      "@type": "Person",
      "name": "{{ article.author.name }}",
      "url": "{{ SITEURL }}/{{ article.author.url }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ SITETITLE|default(SITENAME) }}",
      "url": "{{ SITEURL }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ SITEURL }}/{{ SITELOGO }}"
      }
    },
    "image": "{{ article_image }}",
    "url": "{{ SITEURL }}/{{ article.url }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ SITEURL }}/{{ article.url }}"
    },
    "description": "{% if article.metadata.get('description') %}{{ article.metadata['description']|striptags }}{% else %}{{ article.summary|striptags|truncate(157, True) }}{% endif %}"
  }
  </script>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {"@type":"ListItem","position":1,"name":"Home","item":"{{ SITEURL }}/"}
      {%- if article.category %},
      {"@type":"ListItem","position":2,"name":{{ article.category|string|tojson }},"item":"{{ SITEURL }}/{{ article.category.url }}"},
      {"@type":"ListItem","position":3,"name":{{ article.title|striptags|tojson }},"item":"{{ SITEURL }}/{{ article.url }}"}
      {%- else %},
      {"@type":"ListItem","position":2,"name":{{ article.title|striptags|tojson }},"item":"{{ SITEURL }}/{{ article.url }}"}
      {%- endif %}
    ]
  }
  </script>
{% endif %}
