{% if not PLUGINS or 'seo' not in PLUGINS or 'pelican.plugins.seo' not in PLUGINS %}
  {% if OG_LOCALE %}
    {% set default_locale = OG_LOCALE %}
  {% else %}
    {% set default_locale = 'en_US' %}
  {% endif %}
  {% if page %}
    {% set og_title = page.title|striptags %}
    {% set og_desc = (page.description if page.description else page.summary)|striptags|truncate(157, True) %}
    {% set og_url = SITEURL + '/' + page.url %}
    {% set og_typ = 'article' %}
  {% elif category is defined and category %}
    {% set og_title = 'Posts in ' ~ category %}
    {% set og_desc = ('Browse all posts in the ' ~ category ~ ' category on ' ~ SITENAME ~ '.')|striptags|truncate(157, True) %}
    {% set og_url = SITEURL + '/' + category.url %}
    {% set og_typ = 'website' %}
  {% elif tag is defined and tag %}
    {% set og_title = 'Posts tagged ' ~ tag %}
    {% set og_desc = ('Browse all posts tagged ' ~ tag ~ ' on ' ~ SITENAME ~ '.')|striptags|truncate(157, True) %}
    {% set og_url = SITEURL + '/' + tag.url %}
    {% set og_typ = 'website' %}
  {% else %}
    {% set og_title = SITENAME %}
    {% set og_desc = SITEDESCRIPTION %}
    {% set og_url = SITEURL %}
    {% set og_typ = 'blog' %}
  {% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}"/>
  <meta property="og:type" content="{{ og_typ }}"/>
  <meta property="og:title" content="{{ og_title }}"/>
  <meta property="og:description" content="{{ og_desc }}"/>
  <meta property="og:locale" content="{{ default_locale }}"/>
  <meta property="og:url" content="{{ og_url }}"/>
  {% if OG_IMAGE %}
  <meta property="og:image" content="{{ SITEURL }}/{{ OG_IMAGE }}">
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  {% elif SITELOGO %}
  <meta property="og:image" content="{{ SITELOGO }}">
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  {% endif %}
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{{ og_title }}"/>
  <meta name="twitter:description" content="{{ og_desc }}"/>
  {% if TWITTER_USERNAME %}
  <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}"/>
  {% endif %}
  {% if OG_IMAGE %}
  <meta name="twitter:image" content="{{ SITEURL }}/{{ OG_IMAGE }}"/>
  {% elif SITELOGO %}
  <meta name="twitter:image" content="{{ SITELOGO }}"/>
  {% endif %}
{% endif %}
