{% extends "base.html" %}

{% block content %}

{% for article in articles_page.object_list %}
<article class="post-card">
  <header>
    <h2><a href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}#{{ article.slug }}{% endif %}">{{ article.title }}</a></h2>
    <p class="post-meta">
      {{ _('Posted on %(when)s in %(category)s',
           when=article.locale_date,
           category='<a href="%s/%s">%s</a>'|format(SITEURL, article.category.url, article.category)|safe) }}
      {% if PLUGINS and 'post_stats' in PLUGINS %}
        &#8226; {{ _('%(minutes)s min read', minutes=article.stats['read_mins']) }}
      {% endif %}
    </p>
    {% if article.tags and not HOME_HIDE_TAGS %}
      <ul class="tag-pills">
        {% for tag in article.tags %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </header>
  <div>
    {% if summarise or article.metadata['summary'] or SUMMARY_MAX_LENGTH %}
      {% if  article.featured_image %}
        <img src="{{ article.featured_image }}">
      {% endif %}
      <div>{{ article.summary }}</div>
      {% if article.content != article.summary %}
        <br>
        <a class="btn"
           href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}#{{ article.slug }}{% endif %}">
          {{ _('Continue reading') }}
        </a>
      {% endif %}
    {% else %}
      {{ article.content }}
    {% endif %}
  </div>
</article>
{% endfor %}

{% include "partial/pagination.html" %}

{% endblock %}
